body {
  background-image: url("../images/background-highres.jpg");
  background-size: cover;
}
.tint {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
}
#midContainer {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 35%;
  left: 0%;
}
#botContainer {
  margin-top: 5%;
}
#containerName {
  font-family: 'Sanchez', serif;
  font-size: 6.25em;
  font-size: 6vw;
  color: #fdd000;
  text-align: center;
}
#containerText {
  font-family: 'Sanchez', serif;
  font-size: 4.375em;
  font-size: 5vw;
  color: #fff;
  text-align: center;
  height: 105px;
}
#banner {
  background: rgba(0,0,0,0.75);
  height: 7.5%;
  width: 100%;
  top: 0;
}
.cursorExternalSites:hover {
  filter: invert(100%);
}
.cursorExternalSites:active {
  filter: invert(0%);
}
.fontExternalSites {
  font-family: 'Sanchez', cursive;
  font-size: 200%;
  font-weight: 600;
  text-align: center;
}
.buttonExternalSites {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #000;
}
