footer
  border-top: 1px solid white
  bottom: 0
  position: fixed
  width: 100%

  > #contact-container
    display: flex
    height: 100px

    > div
      flex-grow: 1
      position: relative
      text-align: center
      top: 35%

      > a
        color: white

        > svg
          height: 30px
          width: 30px