header
  border-bottom: 1px solid white
  position: fixed
  top: 0px
  width: 100%

  #surname-container
    height: 75px
    margin-left: 20px
    text-align: center
    width: 75px

    > h1
      color: white
      font-size: 32px
      font-family: 'Yesteryear', cursive
      margin: 0px
      position: relative
      top: 15px