.title-heading {
	font-family: 'Anton', sans-serif;
	font-size: 250%;
	height: 90%;
}

.sidebar {
	left: 10px !important;
	height: 100%;
}

.entry {
	height: 100%;
	top: 0%;
	position: relative;
}

.entry-content {
	background-color: #FAFAFA;
	border-left: 1px solid #E0E0E0;
	height: 100%;
}

.title-smallText {
	font-family: 'Amatic SC';
	font-size: 18px;
	color: grey;
}

.entry-image-portrait {
	margin-top: 1.5%;
}

.entry-image-landscape {
	margin-top: 0%;
}

.details {
	font-family: 'Sanchez', cursive;
	font-size: 200%;
	font-weight: 600;
	text-align: center;
}

.height-100 {
	height: 100%;
}

.title-nav {
	height: 50%;
	top: 5%;
}

.nav {
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	height: 50%;
	top: 40%;
}

.nav-text {
	color: #757575;
	font-size: 15px;
}

nav ul li a:hover {
    background-color:white !important;
}

nav ul li a:active {
    background-color:white !important;
}

nav ul li a:visited {
    background-color:white !important;
}

.nav-text:hover {
	color: black;
	background: black;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
}

a:hover {
	color: black;
	text-decoration: none;
}

.external_sites:hover {
	filter: invert(100%);
}

.external_sites:active {
	filter: invert(0%);
}

::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
    color: white;
    background: black;
}

.title-image {
	text-align: center;
	height: 50%;
	top: 27.5%;
}

.centered {
	text-align: center;
}

#external_links {
	position: absolute;
	margin-top: 33%;
    margin-left: 15%;
}

#typed {
	position: absolute;
    margin-top: 25%;
    margin-left: 15%;
}

nav {
	line-height: 20%;
}

img {
	width: auto;
	max-height: 95%;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: white;
	position: relative;
}

/* Typed.js cursor blinker */
/*.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}*/