.title-heading {
	font-family: 'Anton', sans-serif;
	font-size: 250%;
	height: 90%;
}

.sidebar {
	left: 10px !important;
	height: 100%;
	background-color: #E4E4E4;
	color: #000;
}

.entry {
	height: 100%;
	top: 0%;
	position: relative;
}

.entry_posts {
	top: 0%;
	position: relative;
	background-color: #E4E4E4;
	color: #000;
}

.entry-content {
	background-color: #1B1B1B;
	color: #fff;
	border-left: 10px solid #ff6a5c;
	height: 100%;
}

.title-smallText {
	font-family: 'Amatic SC';
	font-size: 18px;
	color: grey;
}

.entry-image-portrait {
	margin-top: 1.5%;
	height: 60%;
	width: 60%;
}

.entry-image-landscape {
	margin-top: 0%;
	height: 60%;
	width: 60%
}

.details {
	font-family: 'Sanchez', cursive;
	font-size: 200%;
	font-weight: 600;
	text-align: center;
}

.height-100 {
	height: 100%;
}

.title-nav {
	height: 50%;
	top: 5%;
}

.nav {
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	height: 50%;
	top: 40%;
}

.nav-text {
	color: #757575;
	font-size: 15px;
}

nav ul li a:hover {
    background-color:#E4E4E4 !important;
}

nav ul li a:active {
    background-color:#E4E4E4 !important;
}

nav ul li a:visited {
    background-color:#E4E4E4 !important;
}

.nav-text:hover {
	color: black;
	background: black;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
}

a:hover {
	color: black;
	text-decoration: none;
}

.external_sites:hover {
	filter: invert(100%);
}

.external_sites:active {
	filter: invert(0%);
}

::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
    color: white;
    background: black;
}

.title-image {
	text-align: center;
	height: 100%;
	margin-top: 50%;
}

.centered {
	text-align: center;
}

#external_links {
    margin-top: 0px;
}

.nav-items {
	height: 27.5px;
}

#typed {
	top: 0%;
    display: block;
    min-height: 50%;
    margin-top: 25%;
}

#personal_name {
	margin-bottom: 1%;
}

nav {
	line-height: 20%;
}

img {
	width: auto;
	max-height: 95%;
}

html {
	height: 100%;
}

body {
	height: 100%;
	position: relative;
  padding: 0;
}

html {
	padding: 0;
}

/* Neon */
.sign {
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
	z-index: 1;
	width: 332px;
	height: 93px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.neon {
	position: relative;
	text-align: center;
	border: 3px solid #FABBAA;
	padding: 25px 65px;
	width: 250px;
	margin: 0 auto;
	top: 50px;
	font-size: 30px;
	-webkit-box-shadow:
	inset 0 0 6px #BA051A,
	inset 0 0 40px rgba(186,5,26, 0.3),
  inset 0 0 100px rgba(186,5,26, 0.5),
	0 0 6px #BA051A,
	0 0 40px rgba(186,5,26, 0.3),
  0 0 100px rgba(186,5,26, 0.5);
	box-shadow:
	inset 0 0 6px #BA051A,
	inset 0 0 40px rgba(186,5,26, 0.3),
	inset 0 0 100px rgba(186,5,26, 0.5),
  0 0 6px #BA051A,
	0 0 40px rgba(186,5,26, 0.3),
  0 0 100px rgba(186,5,26, 0.5);
	text-shadow:
	0px 0px 5px #318BF7,
	0px 0px 10px #318BF7,
	0px 0px 10px #318BF7,
	0px 0px 80px rgba(49,139,247, 0.6),
	0px 0px 100px rgba(49,139,247, 0.9);
	color: #AFFCF4;
	-webkit-border-radius: 55px;
	border-radius: 55px;

	 animation: neon 5s infinite;
	-webkit-animation: neon 5s infinite;
}

@keyframes neon {
	0%{color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	5% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	6% {color: #000;text-shadow: none;}
	12% {color: #000;text-shadow: none;}
	13% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	25% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	26%{color: #000;text-shadow: none;}
	30% {color: #000;text-shadow: none;}
	31% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	100% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
}
@-webkit-keyframes neon {
	0%{color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	5% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	6% {color: #000;text-shadow: none;}
	12% {color: #000;text-shadow: none;}
	13% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	25% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	26%{color: #000;text-shadow: none;}
	30% {color: #000;text-shadow: none;}
	31% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	100% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
}

.seapaga {
  display: inline;
  animation: seapaga 2.6s infinite;
  -webkit-animation: seapaga 2.6s infinite;
}
@keyframes seapaga {
	0%{color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	5% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	6% {color: #000;text-shadow: none;}
	12% {color: #000;text-shadow: none;}
	13% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	25% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	26%{color: #000;text-shadow: none;}
	30% {color: #000;text-shadow: none;}
	31% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	100% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
}
@-webkit-keyframes seapaga {
	0%{color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	5% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	6% {color: #000;text-shadow: none;}
	12% {color: #000;text-shadow: none;}
	13% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	25% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	26%{color: #000;text-shadow: none;}
	30% {color: #000;text-shadow: none;}
	31% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	100% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
}

.seapagab {
  display: inline;
  animation: seapaga 3.2s infinite;
-webkit-animation: seapaga 3.2s infinite;
}
@keyframes seapaga {
	0%{color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	5% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	6% {color: #000;text-shadow: none;}
	12% {color: #000;text-shadow: none;}
	13% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	25% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	26%{color: #000;text-shadow: none;}
	30% {color: #000;text-shadow: none;}
	31% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	100% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
}
@-webkit-keyframes seapaga {
	0%{color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	5% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	6% {color: #000;text-shadow: none;}
	12% {color: #000;text-shadow: none;}
	13% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	25% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	26%{color: #000;text-shadow: none;}
	30% {color: #000;text-shadow: none;}
	31% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
	100% {color: #AFFCF4;text-shadow:0px 0px 5px #318BF7,0px 0px 10px #318BF7,0px 0px 10px #318BF7,	0px 0px 80px rgba(49,139,247, 0.6),0px 0px 100px rgba(49,139,247, 0.9);}
}