name: CI

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout master
      uses: actions/checkout@master
      
    - name: Github Action for Gatsby CLI
      uses: jzweifel/gatsby-cli-github-action@v1.0.0
        
    - name: GitHub Action for DigitalOcean - doctl
      env:
        DIGITALOCEAN_ACCESS_TOKEN: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      uses: digitalocean/action-doctl@v1.4.1
      
